.home body{
    background-color: rgb(255, 255, 255);
}

.ubi{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: 950;
    margin-top: 120px;
    margin-left: 230px;
}

.izq{
    margin-left: -70px;
}

.loc{
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    margin-left: 308px;
    margin-top: 30px;
}

.entrega {
    font-size: 21px;
    margin-top: 30px;
    margin-left: 280px;
    width: 24%;
    border-color: #A7BAC5;
    border-radius: 10px;
}

.entrega input{
    font-family: 'Open Sans', sans-serif;
}

.location_img { 
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    margin-bottom: 100px;
    position: relative;
    top: -190px;
    left: 350px;
}

.linea_1 {
    background-color: #000000;
    margin-bottom: 100px;
    margin-top: -200px;
    border-top: 5px solid;
    border-color: #000000;
}

.linea1 {
    margin-top: -180px;
    margin-bottom: 120px;
    height: 2px;
    border-bottom: 5px solid #000000;

}

.restaurantes_img{
    width: 17%;
    margin-top: -10px;
    margin-bottom: 100px;
    margin-left: 218px;
}

.mercados_img{
    width: 22%;
    margin-top: -47px;
    margin-bottom: 100px;
}

.farmacias_img{
    width: 17%;
    margin-top: -37px;
    margin-bottom: 100px;
}

.licores_img{
    width: 17%;
    margin-top: -10px;
    margin-bottom: 100px;
}

.linea2{
    margin-bottom: 110px;
    height: 2px;
    border-bottom: 5px solid #000000;
}

.cadenas {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 950;
}

.text_cadenas{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bbc_img{
    width: 25%;
    margin-left: 65px;
}

.alkosto_img{
    width: 22%;
}

.laRebaja_img{
    width: 18%;
}

.qbano_img{
    width: 20%;
    margin-left: 40px;
}

.linea3{
    margin-top: 40px;
    margin-bottom: 110px;
    height: 2px;
    border-bottom: 5px solid #000000;
}

.unete {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 950;
}

.tarjetas {
    margin-top: 60px;
    margin-bottom: 100px;
}

.card-body {
    margin-top: 10px;
}


.btn-flotante {
	font-size: 20px; 
	font-weight: bold;
	color: #ffffff; 
	border-radius: 5px; 
	letter-spacing: 2px; 
	background-color: #5d438f; 
	padding: 10px 18px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
    font-family: sans-serif;
}
.btn-flotante:hover {
	background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 600px) {
 	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}